main
{
	margin-left: 10px;
	margin-right: 10px;
}
body
{
	background: #2b2b30;
	font-style: "Arial";
	font-weight: 400;
	font-size: 1.8vmax;
	color:rgb(255, 255, 255);
}
h1
{
	font-style: "Arial";
	font-weight: 900;
	font-size: 2.6vmax;
	color:rgb(255, 144, 41);
	padding-top: 30px;
	padding-bottom: 30px;

	border-left-width: 5vmax;
	border-right-width: 5vmax;
	border-left-style: double;
	border-right-style: double;
	border-top-width: 1vmax;
	border-bottom-width: 1vmax;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: rgb(255, 144, 41);
	color:rgb(255, 144, 41);
	text-align: center;
}
h2
{
	font-style: "Arial";
	font-weight: 800;
	font-size: 2.2vmax;
	color:rgb(255, 144, 41);
}
a 
{
	color:rgb(255, 255, 255);
}
.a_footer 
{
	display: block;
}
adress 
{
	text-align: center;
}
.container img
{
	float: left;
	margin-right: 20px;
	border-radius: 50%;
	width: 50px;
}
.container div
{
	width: 90%;
	border-width: 5px;
	border-style: solid;
	border-color: rgb(255, 144, 41);
}
.container span
{

	font-style: "Arial";
	font-weight: 800;
	font-size: 2.2vmax;
	color:rgb(255, 144, 41);
}
.container p
{
	font-style: "Arial";
	font-weight: 400;
	font-size: 1.8vmax;
	color:rgb(255, 255, 255);
	padding: 20px;

	width: 90%;
	border-width: 5px;
	border-style: solid;
	border-color: rgb(255, 144, 41);
}
.container h3
{
	height: 40px;
}